<!DOCTYPE html>
<html>
<head>
    <title>Nomor</title>
</head>
<body>

    <h2>Halaman Ambil Nomor</h2>

    <a href="/">Kembali</a>
    <form id="upload-no" action="/upload_no" method="POST" enctype="multipart/form-data">
        <input id="file-input" type="file" name="files" accept=".pdf" multiple />
        <button type="submit">Upload</button>
    </form>
</body>
</html>